@import './reset';
@import './variables';

body {
    @include flex-center(row);
    background-color: $color-light-gray;
    font-family: 'Karla', sans-serif;
    height: 100vh;
}

.card {
    width: 311px;
}

.card-content {
    padding: 1.5rem;
}

// Join Section
.card-join {
    background-color: white;

    .join-header {
        font-size: 1.25rem;
        color: $color-cyan;
        font-weight: $font-700;
    }
}